<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>C++ Compiler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
</head>
<body>
    <header></header>
    <div class="bodyrest">
        <div id="sidebar"></div>
        <div id="editor">
            <div class="rowline"></div>
            <div class="borderline"></div>
            <div id="editor_core">
                <textarea id="input" spellcheck="false"></textarea>
                <div id="rows" onclick="input.focus()"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/models.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='assets/js/parsing.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js') }}" charset="UTF-8"></script>
</body>
</html>