<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>C++ Compiler</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets//favicon.ico') }}">
</head>
<body>
    <header></header>
    <div class="bodyrest">
        <div id="sidebar"></div>
        <div id="editor">
            <div id="editor_scroll">
                <div id="editor_inner">
                <div id="rowline"></div>
                <div id="editor_core">
                    <textarea id="input" spellcheck="false"></textarea>
                    <div id="rows" onclick="input.focus()"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='js/rows.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='js/parsing.js') }}" charset="UTF-8"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" charset="UTF-8"></script>
</body>
</html>